section.welcome {
    img {
        @media screen and (min-width: 1800px) {
            transform: translate(50%,-10%)
        }
    }

    .welcome-text {
        @media screen and (min-width: 1800px) {
            transform: translate(50%,-50%);
        }
    }
}
section.logoes {
    .container {
        @media screen and(min-width: 1800px) {
            padding: 200px;
        }
    }
}